<section class="hero-section">
  <div class="container-fluid text-center">
    <!-- <img src="../../assets/images/profile.jpg" alt=""> -->
    <div class="hero-text">
      <h2>Faisal Ahmed</h2>
      <p>
        Full stack software developer with <span class="highlight">7+ years</span> of experience in web development using <span class="highlight">Asp.net MVC </span>, <span class="highlight">Asp.net Web API</span>, <span class="highlight">Entity Framework</span>, <span class="highlight">ReactJs</span> and <span class="highlight">Angular</span>. 
        <br/>
        4+ years of experience in Web automation using Selenium WebDriver and Cucumber. 
        <br/>
        Currently looking for a full time position as a <span class="highlight">full stack developer</span> in a challenging environment 
        to utilize my skill and knowledge to the best of my abilities and contribute positively to my personal growth as well as growth of the organization.
      </p>
    </div>
    <div class="social-links">
      <a (click)="onNavigate('https://www.linkedin.com/in/faisal-ahmed-se')"><i class="fa fa-linkedin"></i></a>
      <a (click)="onNavigate('https://github.com/mishu-dc')"><i class="fa fa-github"></i></a>
      <a (click)="onNavigate('https://leetcode.com/mishu_dc')"><i class="fa fa-code"></i></a>
      <!-- <a (click)="onNavigate('https://www.facebook.com/mishu.dc')"><i class="fa fa-facebook"></i></a> -->
    </div>
  </div>
</section>