<section class="hero-section">
  <div class="container-fluid text-center">
    <!-- <img src="../../assets/images/profile.jpg" alt=""> -->
    <div class="hero-text">
      <h2>Faisal Ahmed</h2>
      <p>
        Full stack software developer with 7+ years of experience in web development using <b>Asp.net MVC </b>, <b>Asp.net Web API</b>, <b>Entity Framework</b>, <b>ReactJs</b> and <b>Angular</b>. 
        <br/>
        4+ years of experience in Web automation using Selenium Webdriver and Cucumber. Currently looking for a full time position in a challenging environment 
        to utilize my skill and knowledge to the best of my abilities and contribute positively to my personal growth as well as growth of the organization.
      </p>
    </div>
    <div class="social-links">
      <a (click)="onNavigate('https://www.linkedin.com/in/faisal-ahmed-se')"><i class="fa fa-linkedin"></i></a>
      <a (click)="onNavigate('https://github.com/mishu-dc')"><i class="fa fa-github"></i></a>
      <a (click)="onNavigate('https://leetcode.com/mishu_dc')"><i class="fa fa-code"></i></a>
      <a (click)="onNavigate('https://www.facebook.com/mishu.dc')"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</section>