<section class="skill-section spad">
  <div class="section-title text-center">
    <h2>Skills</h2>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="skills pt-5 pt-lg-0">
        <div class="single-progress-item">
          <p>C#</p>
        </div>
        <div class="single-progress-item">
          <p>Asp.net MVC</p>
        </div>
        <div class="single-progress-item">
          <p>Asp.net Web Api</p>
        </div>
        <div class="single-progress-item">
          <p>nHybernet</p>
        </div>
        <div class="single-progress-item">
          <p>Entity Framework</p>
        </div>
        <div class="single-progress-item">
          <p>Java</p>
        </div>
        <div class="single-progress-item">
          <p>Selenium Webdriver</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="skills pt-5 pt-lg-0">
        <div class="single-progress-item">
          <p>HTML</p>
        </div>
        <div class="single-progress-item">
          <p>CSS</p>
        </div>
        <div class="single-progress-item">
          <p>Java Script</p>
        </div>
        <div class="single-progress-item">
          <p>jQuery</p>
        </div>
        <div class="single-progress-item">
          <p>ReactJs</p>
        </div>
        <div class="single-progress-item">
          <p>Angular</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="skills pt-5 pt-lg-0">
          <div class="single-progress-item">
            <p>Git</p>
          </div>
          <div class="single-progress-item">
            <p>SVN</p>
          </div>
          <div class="single-progress-item">
            <p>SQL Server</p>
          </div>
          <div class="single-progress-item">
            <p>Oracle</p>
          </div>
          <div class="single-progress-item">
            <p>Visual Studio, VS Code</p>
          </div>
          <div class="single-progress-item">
              <p>Agail, Waterfall</p>
          </div>
          <div class="single-progress-item">
              <p>Jira, Confluence</p>
          </div>
        </div>
    </div>
  </div>
</section>