<div class="section-title">
  <h2>Work Experience</h2>
</div>
<ul class="resume-list">
  <li>
    <h2>2015-Present</h2>
    <h3>QA Engineer@<a href="https://www.drfirst.com/">DrFirst</a></h3>
    <br/>
    <ul class="job-roles">
      <li>Primary role is to automate web interfaces using <b>Selenium Webdriver</b> and <b>Cucumber</b>, Api automation using Jmeter, Postman, Java and verify user acceptance criteria.</li>
      <li>Worked in a <b>ReactJs</b> web portal as a software developer.</li>
      <li>Took the lead role in multiple UATs with <b>Humana</b>, <b>Argus</b>, <b>United Health Group</b> on behalf of DrFirst.</li>
      <li>Played the role of an acting application delivery manager for a short period of time.</li>
      <li>Perticipated in the myBenefitCheck project for <b>Humana</b> which was reported in <b>Yahoo Finance</b> in 2015. <a href="https://www.drfirst.com/news/drfirst-launches-mybenefitcheck-real-time-benefit-check-capabilities-to-help-patients-better-manage-medication-costs-and-adherence/">Details...</a></li>
    </ul>
  </li>
  <li>
      <h2>2011-2014</h2>
      <h3>Software Engineer@<a href="http://www.xpertlabbd.com/">XpertLab BD Ltd.</a></h3>
      <br/>
      <ul class="job-roles">
          <li>Collaborate with developers, QA, product owner and scrum master to assess requirements, prioritize needs and produce high quality software changes.</li>
          <li>Estimating efforts based on requirements.</li>
          <li>Designing, developing and maintaining applications according to requirements using C#.net, Asp.Net MVC, Web Api, SQL Server.</li>
          <li>Re-factoring and fixing bugs and performance issues in existing systems.</li>
          <li>Software design, prototyping, investigating, Systems integration and documentation.</li>
      </ul>
  </li>
  <li>
      <h2>2006-2010</h2>
      <h3>Programmer Analyst@<a href="http://www.celimited.com/">Computer Ease Ltd.</a></h3>
      <br/>
      <ul class="job-roles">
          <li>Participated in different steps of SDLC.</li>
          <li>Designed and developed application based on requirements using C#.net, Asp.Net, SQL Server, SOAP Services, J2ME.</li>
          <li>Migrated legacy Visual Basic project To C#.net</li>
      </ul>
  </li>
</ul>